<div class="main container-fluid">
  <div class="row">
    <% @restaurants.each do |r| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= render  "layouts/restaurant_card", restaurant: r %>
      </div>
    <% end %>
  </div>
</div>


