<div class="navbar-wagon">
  <ul class="navbar-wagon-right">
    <li class="navbar-wagon-item">
      <a href="/" class="navbar-wagon-link">Home</a>
    </li>
    <li class="navbar-wagon-item">
      <a href="/restaurants/new" class="navbar-wagon-link">New Restaurant</a>
    </li>
  </ul>
</div>
