<div class="restaurant-banner"></div>
<div class="details-container">
  <div class="details">name</div>
  <div class="details">address</div>
  <div class="details">category</div>
  <div class="details">rating</div>
</div>
