<div class="restaurant-banner"></div>
<div class="details-container">
  <div class="details"><%= restaurant.name %></div>
  <div class="details"><%= restaurant.address %></div>
  <div class="details"><%= restaurant.category %></div>
  <div class="details"><%= restaurant.reviews.count %> reviews</div>
</div>
