<div class="restaurant-card">
  <div class="restaurant-img">
    <div class="restaurant-details-footer">
      <div class="restaurant container">
        <div class="row">
          <div class="col-xs-6 restaurant-details" id="restaurant-name"><%= restaurant.name %></div>
          <div class="col-xs-6 restaurant-details" id="restaurant-address"><%= restaurant.address %></div>
        </div>
        <div class="row">
          <div class="col-xs-6 restaurant-details" id="restaurant-category"><%= restaurant.category %></div>
          <div class="col-xs-6 restaurant-details" id="restaurant-rating"><%= restaurant.reviews.count %> reviews</div>
        </div>
      </div>
    </div>
  </div>
</div>
