<div class="review_card">
  <div class="review-card-details">
    <div class="content"><%= review.content %></div>
    <br>
    <div class="rating"> Rating: <%= "*" * review.rating %> </div>
  </div>
</div>
